@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/*General styles*/
*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
:root{
    --background: white;
    --primaryColor: #909f74;
    --lightbackground: #E4E6E5;
    --textcolor: black;
    --highlight: #c4c4c4;
    --light: #D9D9D9
}
body{
    background-color: var(--background);
    height: 100vh;
    font-size: 14px;
    margin: 0px;
    display: block;
    overflow-x: hidden;
}
.centered{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/*Header general style*/
header{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 6vh;
    z-index: 99;
    align-items: center;
    background-color: var(--lightbackground);
}
nav{
    color: var(--textcolor);
    overflow-x: hidden;
    display: flex;
    height: 6vh;
    justify-content: space-between;
    width: 100%;
}
/*Navigation items position*/
.navblocks {
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row;
    align-items: center;
    padding: 0;
    margin: 0;
    border: 0;
}
/*Navigation text and links style*/
nav a{
    color: black;
    text-decoration: none;
    height: 6vh;
}
.title-container{
    padding: 0px;
    margin: 0px 0px 0px 8vw;
    justify-self: left;
}
.links-container{
    justify-content: space-between;
    width: 21vw;
    padding: 0px;
    margin: 0px 8vw 0px 0px;
}
#header-title{
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
}
.header-subtitle{
    font-size: 12px;
    font-weight: 400;
    margin: 0px 4px 0px 0px;
}
.head-link{
    transition: ease-in-out 0.2s;
    padding: 0 4px;
}
/*Navigation bar hover effect*/
/*TODO: Fix Hover effect size (It looks irregular)*/
.head-link:hover{
    background-color:var(--highlight) ;
}
/*Content style*/
#content{
    padding: 6vh 0vh;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}
#heroIntroduction{
    width: 50vw;
    min-height: 82vh;
}
#heroImage{
    width: 50vw;
    min-height: 82vh;
}
#heroTitle{
    font-size: 48px;
    text-align: center;
    font-weight: 600;
    margin: 0px 8px;
}
#heroSubtitle{
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    color: var(--light);
    margin: 4px 0px;
}
.principalBtn{
    cursor: pointer;
    color: var(--background);
    letter-spacing: 4%;
    font-size: 12px;
    background-color: var(--primaryColor);
    align-items: center;
    border: none;
    border-radius:24px;
    transition: all 0.2s;
}
.principalBtn:hover{
    background-color: var(--highlight);
    color: var(--textcolor);
}
.principalBtn:active{
    background-color: var(--light);
}
.circle{
    position: absolute;
    z-index: -1000;
    border-radius: 50%;
    width: 825px;
    height: 825px;
    left: 60vw;
    top: 5vh;
    background-color: rgba(144, 159, 116, 0.25);
    border: black 10 px;
    filter: blur(50px);
}
/*About me section*/
#aboutMe{
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "profilePic aboutMe"
    "skills aboutMe";
}
#profilePic{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: profilePic;
}
#skillsPanel{
    padding: 0px 120px 0px 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: skills;
    flex-wrap: wrap;
}
#skillSet{
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.skillComponent{
    margin: 8px;
    padding: 8px;
    background-color: var(--primaryColor);
    color: white;
    border-radius: 12px;
}
#pic{
    width: 200px;
    height: 200px;
}
.skillTitle{
    font-size: 18px;
    font-weight: 600;
    margin: 0px 4px;
    color: var(--highlight);
}
#aboutMeText{
    display: flex;
    flex-direction: column;
    padding: 0px 16px;
    grid-area: aboutMe;
    justify-content: center;
    align-items: center;
}
#aboutMeText h2{
    font-size: 48px;
    justify-self: center;
}
#aboutMeText p{
    font-size: 20px;
}
/*Projects section style*/
#projects{
    min-height: 100vh;
}
/*Footer style*/
#footer{
    bottom: 0;
    width: 100%;
    height: 12vh;
    align-items: center;
    background-color: var(--lightbackground);
}