@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Archivo",sans-serif;
}

html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;
}

body {
    font-size: 16px;
    background-color: #f7f7f7;
    color: #0e1a27;
    min-height: 100vh;
}

#container{
    min-height: 100%;
    min-width: 100%;
    display: flex;
}

#description{
    margin-left: 16px;
    margin-top: 8px;
    color: #d1d1d1;
    transition: all 0.1s ease-out;
    overflow: hidden;
    text-wrap:nowrap;
}

.flex{
    display: flex;
    align-items: center;
}

.menu-icon{
    display: flex;
    min-width: 55px;
    justify-content: center;
    cursor: pointer;
}

.menu-icon i{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.sidebar{
    position:fixed;
    top:0;
    left: 0;
    height: 100%;
    width: 270px;
    background: #fff;
    padding: 15px 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 1;
}

.link-text{
    transition: all 0.2s ease-out;
}

.sidebar.close{
    width: 75px;
}

.sidebar.close .logo-name,
.sidebar.close #lock-icon,
.sidebar.close #sidebar-close{
    opacity: 0;
    pointer-events: none;
}

.sidebar.close .link-text{
    opacity: 0;
}

.sidebar.close #description{
    opacity: 0;
}

#lock-icon,
#sidebar-close{
    padding:10px;
    color:#bdbdbd;
    font-size:25px;
    cursor:pointer;
    margin-left: -4px;
    transition: all 0.3s ease;
}

#sidebar-close{
    display: none;
    color: #bdbdbd;
    transition: all 0.3s ease-out;
}

.menu-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
    overflow-y: auto;
    height: calc(100%-82px);
}

.menu-container::-webkit-scrollbar{
    display: none;
}

.menu-title{
    position:relative;
    height: 50px;
}

.menu-title .title{
    margin-left: 15px;
    transition: all 0.3s ease;
    text-wrap: nowrap;
    color: #7c7c7c;
    font-weight: 500;
}

.sidebar.close .title{
    opacity: 0;
}

.menu-title .line{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 20px;
    border-radius: 25px;
    background: #bdbdbd;
}

.menu-title .line {
    opacity: 0;
}
.sidebar.close .line {
    opacity: 1;
}

.item{
    list-style: none;
}

.logo-items{
    gap:8px;
}

.logo-name{
    font-size: 22px;
    color: #0e1a27;
    font-weight: 500;
    transition: all 0.3s ease;
}

.link{
    text-decoration: none;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #0e1a27;
}

.link:hover{
    color: #f7f7f7;
    background: linear-gradient(270deg, hsla(204, 71%, 68%, 1) 0%, hsla(217, 53%, 40%, 1) 99%);
}

.link span{
    white-space: nowrap;
}

.link i{
    height: 50px;
    min-width: 55px;
    display: flex;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.hide-icon{
    position: fixed;
    left: 26px;
    align-self: center;
    font-size: 22px;
    opacity: 0;
    transition: all 0.2s ease-in;
}

.sidebar.close .hide-icon{
    opacity: 100;
}

.sidebar.close .contact-icons{
    opacity: 0;
}

.contact-icons{
    margin-left: 16px;
    gap: 20%;
    align-items: center;
    justify-content: center;
}

#sidebar-open{
    display: block;
}

.navbar{
    width: 35px;
    height: 35px;
    margin: 15px 20px;
    justify-content: center;
    background-color: #f7f7f7;
    border-radius: 20px;
    opacity: 0;
}

#social-panel{
    display: block;
}

.social-icon{
    background-color: #f8f8f8;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    padding: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.social-icon:hover{
    background-color: #525252;
    fill: #f8f8f8;
    border-radius: 50px;
}

#shade{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: all 0.2s ease;
}
.blurred{
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.sections{
    margin: 32px;
    display: block;
}

.section-title{
    margin-top: 32px;
    margin-bottom: 8px;
}

.panel-container{
    display: flex;
}

@media screen and (max-width: 800px){
    .sidebar {
        left: 0;
        z-index: 1000;
    }
    .sidebar.close {
        left: -100%;
    }
    #sidebar-close {
        display: block;
    }
    #lock-icon {
        display: none;
    }
}
/*
h2 {
    font-weight: lighter;
    line-height: 1,2;
    margin-top: 16px;
    margin-bottom: 8px;
    color: #0E1A27;
}

p {
    margin-bottom: 1rem;
    color: #0E1A27;
}

ul {
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

a {
    text-decoration: none;
}

form{
    background: #63767a38;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    overflow: none;
}

form input,
form textarea{
    border:0;
    margin:10px 0;
    padding: 20px;
    outline: none;
    background: #CAD9D6;
    font-size: 16px;
}

form button{
    padding: 15px;
    background: #fff;
    color: black;
    font-size: 16px;
    border:0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
    outline: none;

}

#content {
    scroll-behavior: auto;
}

#ion-icon {
    font-size: 20px;
}

.social {
    display: block;
    margin-bottom: 40px;
    margin-top: 40px;
}

p.social a {
    margin: 0 10px 10px 5px;
    color: #fff;
    display: inline-block;
    width:40px;
    height: 40px;
    border-radius: 20px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    vertical-align:middle;
    transition: all 0.2s ease-out;
    float: none;
}

p.social a:hover{
    color: #c28b7c;
    font-size: 40px;
    text-align: center;
    vertical-align: bottom;
    display: inline-block;
}

#container {
    height: 100%;
    width: 100%;
    display: block;
    margin: none;
    padding: none;
    border: none;
    background-color: #E8E8E8;
    color: #0e1a27;
    scroll-behavior: smooth;
}

#sections{
    scroll-snap-type: block mandatory;
    overflow: scroll;
}

#sidebar-section {
    position: fixed;
    top:0;
    left: 0;
    padding: 40px 32px 40px 32px;
    float: left;
    position: fixed;
    overflow-x: hidden;
    border-radius: 5px;
    background-color: #e8e8e8;
    border: none;
    margin: none;
}

.sidebar-content{
    display: block;
}

#sidebar-nav ul{
    margin: 0;
    padding: 0;
    border: 0;
    float: center;
}

.nav-link {
    font-size: 16px;
    text-align: center;
    background-color: #CAD9D6;
    color: #fff;
    border: none;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: all 0.2s ease-out;
}

.nav-link:hover {
    background-size: 100px;
    font-size: 22px;
    background-color: #c28b7c;
    border-radius: 20px;
}

.nav-link.active {
    font-size: 22px;
    background-color: #c28b7c;
    border-radius: 20px;
}

.sidebar-contact {
    width: 100%;
    height: 20px;
    display:flexbox;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 10px;
    background-color: #63767a6b;
    border-radius: 20px;
    align-items: center;
    backdrop-filter: blur(40px);
    justify-content: space-evenly;
    align-items: stretch;
    gap: 5px;
}

.sidebar-contact a{
    font-size: 10px;
    color: #EBDCD9;
    transition: all 0.2s ease-out;
    text-align: center;
    line-height: 10px;
    flex-basis: auto;
    order: 1;
    flex-grow: 1;
    align-self: flex-end;
}

.sidebar-contact a:hover{
    background-color: #CAD9D6;
    border-radius: 20px;
}

.sidebar-contact p{
    font-size: 10px;
    flex-basis: auto;
    order: 2;
    flex-grow: 3;
    align-self: flex-start;
}

#content {
    height: 100%;
    width: 80%;
    padding: 40px 20px 40px 10px;
    float: right;
}

#about-me{
    display: block;
    min-height: 100vh;
    scroll-snap-align: start;
}

#portfolio{
    display: block;
    scroll-snap-align: start;
    min-height: 100vh;
}

#contact{
    display: block;
    height:100vh;
    scroll-snap-align: start;
}
.section-title{
    font-size: 40px;
    width: fit-content;
    display:block;
    background-color: #63767a38;
    border-radius: 20px;
    height: fit-content;
    padding: 0px 20px 0px 20px;
    min-width: 100%;
    margin: 20px 0px 20px 0px;

}

.panel-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start
    gap 10px;
}

.panel {
    background-color: #63767a38;
    backdrop-filter: blur(20px);
    border-radius: 15px;
    margin: 5px 10px 5px 10px;
    max-width: 31%;
    min-width: 31%;
    transition: all ease-out 0.2s;
    padding: 0 5px 0 5px;

}

.panel:hover{
    scale: 110%;
}

.unique-panel{
    background-color: #63767a38;
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
    width: 100%;
}

.email-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}
.contactform{
    width: 100%;
    display: flex;
    align-items: center;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color:black;
    font-size: 0.875rem;
}

input:focus::-webkit-input-placeholder,
input:focus::-webkit-input-placeholder{
    color:#CAD9D6;
}

*/